/* Styling for product detail page */
.product-detail {
    text-align: center;
    padding: 20px;
}

.product-detail img {
    max-width: 300px;
    height: auto;
}

.product-detail h2 {
    font-size: 24px;
    margin-top: 20px;
}

.product-detail p {
    font-size: 18px;
    color: #555;
}
.icon i {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}