<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Cart</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
</head>
<body>
    <h1>Your Shopping Cart</h1>

    <!-- Display Cart Items -->
    {% if cart_items %}
        <table>
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cart %}
                <tr>
                    <td>{{ item['name'] }}</td>
                    <td>{{ item['quantity'] }}</td>
                    <td>${{ item.price }}</td>
                    <td>${{ item.price * item['quantity'] }}</td>
                    <td>
                        <form action="{{ url_for('main.remove_from_cart', product_id=item['_id']) }}" method="POST">
                            <button type="submit">Remove</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>Total Amount: ${{ total_amount }}</h2>
        <form action="{{ url_for('main.checkout') }}" method="POST">
            <a href="{{ url_for('main.checkout') }}"><button type="submit" name="csrf_token" value="{{ csrf_token() }}">Proceed to Checkout</button></a>
        </form>
    {% else %}
        <p>Your cart is empty. <a href="{{ url_for('main.get_images', folder_name='products') }}">Continue shopping</a></p>
    {% endif %}
</body>
</html>