<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Product Images</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/product_listing.css') }}">
</head>
<body>
    <h1>Product Images in Folder: {{ folder_name }}</h1>
    <ul>
        {% for image in images %}
        <li>
            <a href="{{ url_for('main.product_detail', filename=image.filename, page=page) }}">
                <img src="{{ image.url }}" alt="{{ image.filename }}">
            </a>
            <!-- Display description here if you want to show a brief one -->
            {% if image.description %}
            <p>{{ image.description }}</p>
            {% else %}
            <p>No description available</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <div class="pagination">
        {% if page > 1 %}
        <a href="{{ url_for('main.get_images', folder_name=folder_name, page=page-1) }}">&laquo; Previous</a>
        {% endif %}

        {% for p in range(1, total_pages + 1) %}
            <a href="{{ url_for('main.get_images', folder_name=folder_name, page=p) }}" {% if p == page %}class="active"{% endif %}>{{ p }}</a>
        {% endfor %}

        {% if page < total_pages %}
        <a href="{{ url_for('main.get_images', folder_name=folder_name, page=page+1) }}">Next &raquo;</a>
        {% endif %}
    </div>
</body>
</html>