<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <link rel="stylesheet" href="../static/css/register.css">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="icon">
                <img src="../static/images/logo.png" alt="" class="icon-img" width="80" height="60px">
            </div>
            <div class="account-login">
                <p>Already have an account? <a href="/login"><u><b>Sign in</b></u></a></p>
            </div>
        </div>
    </header>

    <div class="main-container">
        <div class="image">
            <section>
                <img src="../static/images/Registar-page.jpg" alt="no image">
            </section>
        </div>

        <div class="signup">
            <form method="POST" action="{{ url_for('main.register') }}">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.username.label }}<br>
                    {{ form.username(size=32) }}<br>
                    {% for error in form.username.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.email.label }}<br>
                    {{ form.email(size=32) }}<br>
                    {% for error in form.email.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label }}<br>
                    {{ form.password(size=32) }}<br>
                    {% for error in form.password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>
                    {{ form.confirm_password.label }}<br>
                    {{ form.confirm_password(size=32) }}<br>
                    {% for error in form.confirm_password.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit() }}</p>
            </form>
        </div>
    </div>
</body>
</html>